.font {
  font-family: 'PT Sans Narrow', sans-serif;
}

.well {
  background-color: #91A437;
  border-color: #697B15;
}

body {
  background-color: #BBCD67;
}

.btn {
  background-color: #697B15;
  border-color: #91A437;
}

.form-control {
  background-color: #BBCD67;
  border-color: #697B15;
}
